.bdsft-webrtc
  .authenticationView.fadeable.classes
    .useridRow.row
      span.cell User ID
      input.userid.cell(type='text', value='')
    .authenticationUseridRow.row
      span.cell Auth User ID
      input.authenticationUserid.authUserid.cell(type='text', value='')
    .passwordRow.row
      span.cell Password
      input.password.cell(type='password', value='')
    .row
      .alert
    .row
      span.cell
        a.btn.signIn(href='', title='Sign In') Sign In
        a.btn.signOut(href='', title='Sign Out') Sign Out
