.bdsft-webrtc
  .settingsPopup.table.collapse.fixed.fadeable.popup.classes
    .row
      ul.tabs
        li
          a(href='#tab1').configure
            span.icon-cog
            | Configure
        li
          a(href='#tab2').layout
            span.icon-th
            | Layout
      #tab1
        .enableAutoAnswerRow.row
          span.cell Auto Answer
          input.enableAutoAnswer.cell(type='checkbox')
        .bandwidthRow.row
          span.cell Bandwidth
          span.cell
            input.bandwidthLow.short(type='text', maxlength='4', value='', placeholder='low')
            input.bandwidthMed.short(type='text', maxlength='4', value='', placeholder='medium')
            input.bandwidthHigh.short(type='text', maxlength='4', value='', placeholder='high')
        .displayNameRow.row
          span.cell Display Name
          input.displayName.cell(type='text', value='')
        .authenticationRow
      #tab2
        .enableSelfViewRow.row
          span.cell Enable Self View
          input.enableSelfView.cell(type='checkbox')
        .hdRow.row
          span.cell Use HD
          input.hd.cell(type='checkbox')
        .resolutionRow
          .row
            span.resolutionTypeRow.cell Mode
            select.resolutionType.cell
              option(value='standard') standard
              option(value='widescreen') widescreen
          .row
            span.displayResolutionRow.cell Resolution
            span.cell
              select.displayResolutionStandard.resolutionSubType
                option(value='960x720') 960 x 720
                option(value='640x480') 640 x 480
                option(value='320x240') 320 x 240
              select.displayResolutionWidescreen.resolutionSubType
                option(value='1280x720') 1280 x 720
                option(value='640x360') 640 x 360
                option(value='320x180') 320 x 180
          .row
            span.encodingResolutionRow.cell Encoding
            span.cell
              select.encodingResolutionStandard.resolutionSubType
                option(value='960x720') 960 x 720
                option(value='640x480') 640 x 480
                option(value='320x240') 320 x 240
              select.encodingResolutionWidescreen.resolutionSubType
                option(value='1280x720') 1280 x 720
                option(value='640x360') 640 x 360
                option(value='320x180') 320 x 180
