.bdsft-webrtc
  .settingsPopup
    padding 2px
    position absolute
    line-height 28px
    border 1px solid #3c3c3c
    background #292929
    border-radius 0px
    box-shadow none
    bottom 40px
    right 0px
    top auto
    left auto
    width 280px !important
    font-size 14px
    height 250px
    overflow hidden
    span
      color #999999
      font-size 20px
      font-size 14px
      line-height 28px
      width 110px
    [type="checkbox"]
      width 18
      height 18
      vertical-align middle
    .short
      width 36px
    input
      background #333
      border 1px solid #414141
      color #EEE
      padding 1px 1px 1px 5px
      line-height 22px
      font-size 13px
      margin-left 14px
      border-radius 0
      width auto
    select
      margin-left 14px
    input, select
      width 140px
    .tabs
      span
        margin-right 5px
        color #fff
    .btn
      display none
      background #04AFF0
      color #FFF
      padding 5px 10px
      text-decoration none
      border-radius 20px
      margin-left 9px
      margin-top 15px
      font-weight 700
      text-align center
      &:hover
        background #017EAD
    .resolutionSubType
      display none
    .tabs
      width 250px
      padding-left 0
      li
        list-style none
        display inline
      a
        padding 5px 10px
        display inline-block
        background #494949
        color #fff
        text-decoration none
        &.active
          background #04AFF0
          color #fff
    .tabs ~div p, .tabs ~div h3
      margin-bottom 15px
      color #999
      font-size 14px
    .tabs ~ div
      padding 10px
      margin-bottom 10px
    
    &.audioOnly
      bottom auto

    &.standard .displayResolutionStandard, &.standard .encodingResolutionStandard,
    &.widescreen .displayResolutionWidescreen, &.widescreen .encodingResolutionWidescreen
      display inline-block
    #tab2
      display none
      
    &.hd .resolutionRow
      display none
    
    & .authentication-hidden
      {fadeIn}

    &.enableSettings.settings-shown
      {fadeInPopup}

    &.enableSettings:not(.settings-shown)
      {fadeOut}